* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* 박스 모델의 크기를 계산할 때, padding과 border를 포함하여 계산 */
  font-family: jeju_hallasan, sans-serif;
  /* 약간의 제주도 향기 */
}

html,
body {
  width: 100%;
  height: 100%;
}

.app {
  /* display: grid;
  place-items: center; */
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.bg-video__content.show {
  opacity: 1;
}

.container {
  display: grid;
  padding: 15px;
  padding-top: 100px;
  gap: 15px;
  text-align: center;
  background: linear-gradient(to bottom, #aac4df, #ffffff00);
}

.title {
  font-size: 40px;
  font-weight: 100;
  color: #37474F;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  border-radius: 35px;
}

.class-selector {
  /* display:contents; */
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
}

.class-selector button {
  background-color: #297fb940;
  backdrop-filter: blur(20px);
  color: #37474F;
  width: 70px;
  height: 50px;
  font-size: 34px;
  font-weight: 100;
  border: 0;
  border-radius: 10px;
  backdrop-filter: blur(8px);
  cursor: pointer;
  margin: 5px;
}

.class-selector button:hover {
  background: rgba(255, 255, 255, 0.25);
}

.class-selector button:active {
  background: rgba(255, 255, 255, 0.25);
}

.class-selector button.selected {
  background: rgba(255, 255, 255, 0.25);
}

.class-select-dropdown {
  background-color: #297fb940;
  backdrop-filter: blur(20px);
  padding: 5px 7px;
  font-size: 24px;
  font-weight: 100;
  color: #37474F;
  border: 0;
  border-radius: 10px;
  appearance: none; /* 기본 화살표 제거 */
}


/* 팀별 일정안내 css */

.app-itiner {
  display: grid;
}

.initer-title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 175px;
  font-size: 50px;
  font-weight: 150;
}

.day-menu {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.day-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* 세로 정렬 */
  padding: 20px;
}

.button-container {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  width: 100%;
  height: 50px;
  gap: 7px;
}

.button {
  flex-grow: 1;
  transition: flex-grow 0.3s ease-in-out;
  background-color: lightblue;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
  background-color: rgba(230, 230, 255, 0.5);
}

.button.selected {
  flex-grow: 2;
  background-color: #297fb980;
  color: white;
  transform: scale(1.015);
}

/* 일정 장소별 상세 css */

.day-detail-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 200;
}

.day-detail-box div,
.day-detail-box div.detail {
  margin-top: 10px;
  margin-bottom: 10px;
}

.day-detail-box .detail {
  background-color: rgba(230, 230, 255, 0.5);
  border-radius: 5px;
  padding: 1px;
}

.day-detail-box .detail:hover,
.day-detail-box .detail:active {
  background-color: #297fb980;
  color: white;
}

.detail-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.detail-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: 200;
  z-index: 1;
  color: #000000;
  background: rgba(255, 255, 255, 1);
  backdrop-filter: blur(8px);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 2rem;
}

.detail-view #title {
  font-size: 40px;
  font-weight: 200;
}

.detail-view-background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  opacity: 0;
  transition: filter 0.8s ease-out, opacity 0.8s ease-out;
  z-index: -1;
}

.detail-view-background-image.loaded {
  filter: blur(0px);
  opacity: 1;
}

.detail-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease;
}

/* 펼쳐진 상태 */
.detail-container.open {
  max-height: 200px;
}

.detail-contant {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  font-weight: 200;
  color: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
}

.toggle-btn {
  background-color: #297fb980;
  backdrop-filter: blur(8px);
  color: #ffffff;
  width: 70px;
  height: 30px;
  font-size: 16px;
  font-weight: 200;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* 기타 css */

.br {
  display: block;
  content: "";
  margin-top: 10px;
  margin-bottom: 10px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #000000;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #ffffff70;
  padding: 10px;
}

a:any-link {
  text-decoration: none;
  color: #ffffff70;
}

.ready {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 50px;
  font-weight: 100;
  color: #000000;
}

@keyframes bt {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.bt {
  animation: bt infinite;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 50px;
  font-weight: 100;
  color: #ff0000;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 50px;
  font-weight: 100;
  color: #000000;
}

/* iOS·Safari */
video::-webkit-media-controls-start-playback-button,
video::-webkit-media-controls-overlay-play-button,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-panel,
video::-webkit-media-controls-enclosure {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

/* Chrome·Edge */
video::-internal-media-controls-download-button,
video::-internal-media-controls-overflow-button {
  display: none !important;
  opacity: 0 !important;
}

/* Firefox */
video::-moz-media-controls-play-button,
video::-moz-media-controls-panel {
  display: none !important;
}

/* 반응형 css */

@media only screen and (min-width: 1024px) {
  .m-class-selector {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .m-class-selector {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .class-selector {
    display: none;
  }
  .title {
    font-size: 30px;
  }
  .error {
    font-size: 30px;
  }
  .loading {
    font-size: 30px;
  }
}